<div id="<%= dom_id league %>">
  <div>
    <strong>Name:</strong>
    <%= league.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= league.description %>
  </div>

  <div>
    <strong>Starting capital:</strong>
    <%= league.starting_capital %>
  </div>

  <div>
    <strong>Starts at:</strong>
    <%= league.starts_at %>
  </div>

  <div>
    <strong>Ends at:</strong>
    <%= league.ends_at %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= league.status %>
  </div>

</div>
